/* GLOBAL */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}


/* OUTLINE STYLES */
*:focus {
  outline: 2px dashed #000;
  outline-offset: 2px;
}


/* BUTTON */
.button {
  padding: 12px 32px;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  display: inline-block;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

/* MAIN */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header-container {
  padding: 27px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitenav-list {
  display: flex;
  align-items: center;
  margin: 0;
}

.sitenav-item {
  margin-right: 30px;
}
.sitenav-link {
  font-size: 15px;
  color: #000;
}

.sitenav-link:hover {
  opacity: 0.8;
}

.sitenav-link:active {
  opacity: 0.6;
}

.site-logo-image {
  width: 112px;
  height: 39px;
}

/* HOME */
.home {
  padding: 55px 0 35px 0;
}

.home-texts {
  text-align: center;
  margin-bottom: 55px;
}

.home-text {
  color: #a6a6a6;
  font-weight: 400;
}

.home-title {
  font-size: 64px;
  margin-top: 5px;
  margin-bottom: 23px;
  font-weight: 400;
}

.home-info {
  width: 717px;
  color: #212529;
  margin: 0 auto;
}

.second-button {
  padding: 10px 30px;
  border-radius: 25px;
  border: 2px solid #000;
  display: inline-block;
  background-color: #fff;
  color: #000;
}

.home-buttons {
  margin-top: 36px;
}

.home-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-item {
  display: flex;
  align-items: center;
}

.check-item:not(:last-child) {
  margin-right: 60px;
}

.check-title {
  margin: 0;
}

.home-image {
  width: 1240px;
  height: 528px;
  margin-top: 40px;
}

/* ABOUT */
.about {
  padding-bottom: 100px;
}

.about-title {
  font-size: 61px;
  font-weight: 400;
  width: 1012px;
  margin: 5px auto 89px auto;
}

.about-info {
  text-align: center;
}

.about-image {
  display: block;
  margin: 0 auto;
  width: 817px;
  height: 385px;
}

/* WORKS */
.works {
  padding: 35px 0;
  background-color: #fafafa;
}

.works-texts {
  margin-bottom: 95px;
  text-align: center;
}

.works-title {
  font-size: 61px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0;
}

.works-content {
  display: flex;
  justify-content: space-between;
}

.works-item {
  max-width: 393px;
  width: 100%;
}

.works-item-image {
  display: block;
  margin: 0 auto 40px auto;
}

.works-item-title {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 12px;
}

.works-item-info {
  line-height: 24px;
  color: #212529;
}

/* TRACKING */
.tracking {
  padding: 80px 0 100px 0;
}

.tracking-container {
  display: flex;
  justify-content: space-between;
}

.tracking-texts {
  padding: 10px 0;
  width: 517px;
}

.tracking-img {
  width: 605px;
  height: 342px;
}

.tracking-title {
  font-size: 61px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 23px;
}

.tracking-info {
  color: #212529;
  line-height: 24px;
}

/* MAP */
.map {
  padding: 50px 0 100px 0;
}

.map-title {
  font-size: 61px;
  font-weight: 400;
  line-height: 73px;
  margin-top: 0;
  margin-bottom: 23px;
}

.map-info {
  line-height: 24px;
  color: #212529;
  width: 510px;
  margin: 0 auto;
}

.map-text {
  color: #212529;
}

.map-texts {
  text-align: center;
}

.map-image {
  display: block;
  margin: 0 auto;
  width: 1028px;
  height: 636px;
  margin-top: 25px;
}

/* QUESTIONS */
.questions {
  padding-bottom: 90px;
}

.questions-texts {
  text-align: center;
}

.questions-title {
  margin-top: 5px;
  margin-bottom: 70px;
  font-size: 61px;
  font-weight: 400;
}

.questions-selection {
  margin: 0 auto;
  width: 750px;
}

.questions-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 27px 0;
  border-bottom: 1px solid #000;
}

/* GET-STARTED */
.get-started {
  padding: 90px 0;
  background-color: #FBFBFB;
  margin-bottom: 88px;
}

.get-started-texts {
  width: 510px;
}

.get-started-title {
  margin-bottom: 23px;
}

.get-started-info {
  line-height: 24px;
  margin-bottom: 16px;
}
.get-started-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: #000;
  display: inline-block;
}

.footer-link:hover {
  color: #212529;
}

.footer-item {
  margin-bottom: 10px;
}